.DS_Store
node_modules
.turbo
.turbopack
dist
dist-server
.next
packages/shared/esm
packages/client/esm
packages/server/esm
esm
.evjs
route-types.d.ts
test-results
playwright-report
evjs-dev

# Docusaurus
docs/build
docs/.docusaurus
